<app-header />

<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 2fr 10fr">
    <div class="bg-light border rounded-3">
      @for(user of users; track user.id){
      <app-user [User]="user" (selectUser)="onSelectUser($event)" />
      }

      <app-sidebar />
    </div>
    <div class="bg-light border rounded-3">
      <app-recive-user-names [nameSend]="selectedUser.name" />
      <router-outlet />
    </div>
  </div>
</div>

<div>{{ textName }}</div>

<app-footer [DataName]="stringName" [ArrayNew]="users[0].name" />
<app-footer [DataName]="stringName" [ArrayNew]="users[1].name" />
