<ul class="sidebar-menu">
  @for (item of menuItems; track item.title) {
  <li>
    <a href="javascript:void(0)">
      <span [attr.class]="'feather ' + item.icon"></span>
      <span>{{ item.title }}</span>
      @if (item.children) {
      <i class="fa fa-angle-right pull-right">imicon</i>
      }
    </a>
    @if (item.children) {
    <ul class="sidebar-submenu">
      @for (child of item.children; track child.title) {
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-circle"></i>{{ child.title }}
        </a>
      </li>
      }
    </ul>
    }
  </li>
  }
</ul>
